{% extends "layout.html" %}

{% block content %}

<div class="content-section">
    <h1 class="text-dark">About</h1>
    <div class="border-top pt-3">It’s not how much you lift, it’s how well you lift. Doing exercises in the right posture is an important aspect of it. If the posture is incorrect, all the efforts to have a well strengthened physique go in vain. It may even cause injury or have a negative effect on your body. Doing exercises not only makes your body fit but also improves your mental health. Xamine will be a reliable system that will help users to do exercises in the right posture.</div>
</br>
    <div>Xamine will help the users in home exercises guiding them through the right posture and evaluating their postures if they are correct. It will decrease the need for a physical instructor to instruct the exercise. It will help users to do exercises in the right posture at their convenience. This all will be done using minimum resources and only a camera feed from the user’s device.</div>
</br>
    <div >With Pose estimation, smart assistance has been built to guide and instruct the users throughout their practice period to attain the correct posture. This helps reduce stress, anxiety, and tension through a series of guided meditative poses. The solution includes human pose estimation using OpenCV framework. Deep Convolutional Neural Network as the architecture, various data collection and processing tasks have been performed.</div>
</br>


{% endblock content %}
